html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


picture {
  display: block;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 165px;
}

.visually-hidden {
  @include visually-hidden;
}


